body {
	background-color: transparent;
}

.subTema {
	margin-left: 40px; 
	cursor: pointer; 
	display: none;
}

.subTema:hover{
	background-color: rgb(64, 64, 64); 	
}

.tema{
	cursor: pointer;
}

.tema:hover{
	background-color: rgb(64, 64, 64); 	
}

.footer {
	margin-top: auto; 
	height: 50px;
	background-color: black;
}

.elemento-al-final {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
  }

.iconoGrande{
	width: 50px;
	height: 50px;
	margin:0px;
	cursor: pointer;
	padding: 0px;
}

.boton-desactivado {
	background-color: rgb(1, 120, 212);
	color: white;
  }
  
.boton-desactivado:disabled {
	background-color: rgb(40, 40, 40); 
	color: rgb(64, 64, 64); 
	cursor: not-allowed;
}

.btnTransp{
	flex-direction: column;
	background-color: transparent;
	cursor: pointer;
	padding: 0px;
	width: 68px;
	height: 87px;
	margin-top: 20px;
}

.btnTransp:hover{
	background-color: rgb(64, 64, 64); 	
	padding: 0px;
}

.btnTransp2{
	display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    height: 50px;
    margin-top: 20px;
	text-align: start;
}

.btnTransp2:disabled{
	display: flex;
    align-items: center;
    border: none;
    padding: 0px;
    height: 50px;
    margin-top: 20px;
	text-align: start;
	background-color: rgb(64, 64, 64);  
	cursor: not-allowed;
}



.btnTransp2:hover{
	background-color: rgb(64, 64, 64); 	
	padding: 0px;
}

.iconoGrande2{
	width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    margin-right: 15px;
}

.hr {
	border: none;
	border-top: 2px solid white; 
	margin: 0;
}

.pista{
	margin-top:50px;
	color: rgb(200, 202, 199);

}


