body {
	background-color: transparent;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.add-color-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.puntoTema {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
	cursor: pointer;
  }

.subTema {
	margin-left: 40px; 
	cursor: pointer; 
	display: none;
}

.subTema:hover{
	background-color: rgb(64, 64, 64); 	
}

.tema{
	cursor: pointer;
}

.tema:hover{
	background-color: rgb(64, 64, 64); 	
}

.footer {
	margin-top: auto; 
	height: 50px;
	background-color: black;
}

.elemento-al-final {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
  }

.icono{
	width: 10px;
	height: 10px;
	margin:8px;
	cursor: pointer;
}

.iconoRef{
	width: 32px;
	height: 32px;
	margin:0px;
	cursor: pointer;
	padding: 0px;
}

.boton-desactivado {
	background-color: rgb(1, 120, 212);
	color: white;
  }
  
.boton-desactivado:disabled {
	background-color: rgb(40, 40, 40); 
	color: rgb(64, 64, 64); 
	cursor: not-allowed;
}

.btnTransp{
	background-color: transparent;
	cursor: pointer;
	padding: 0px;
}

.btnTransp:hover{
	background-color: rgb(64, 64, 64); 	
	padding: 0px;
}


